{% extends "base.html" %}
{% from "_macros.html" import render_resource_link, render_rdfa_resource_link, get_label, facts_panel, summary_panel, content %}
{% block title %}{{get_label(this.description())}}{% endblock %}
{% block scripts %}
 <script type="text/javascript" src="//cpettitt.github.io/project/dagre/latest/dagre.js"></script>
<script src="/static/js/rdfviewer.js"></script>
<script>
$( function() {

code_graph = {{'''construct { ?s ?p ?o } where {
  graph ?g {
    ?s ?p ?o.
    ?this a <http://schema.org/SoftwareSourceCode>.
  }
} values ?p {rdf:type prov:wasGeneratedBy prov:informed prov:value rdfs:label prov:used}
    '''.replace("?this",this.identifier.n3()) | query | serialize(format="json-ld") | safe}};
    graph = new Graph();
    graph.load(code_graph).await(function(error) {
        d3.select("#code_graph").datum(graph).each(rdfview());
    });
    });
    // 
</script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/rdfviewer.css"></link>
{% endblock %}

{% block content %}
    <md-card >
      <md-card-content>
        <svg class="panel-body"  id="code_graph" style="width: 100%; height:600px"></svg>
      </md-card-content>
    </md-card>
    <div md-whiteframe="2" layout="column" style="height: 50em">
      <explore flex layout-fill start="{{this.identifier}}"></explore>
    </div>
{% endblock %}
